* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  grid-column: 1/1;
  grid-row: 1/1;
}

#background {
  grid-column: 1/1;
  grid-row: 1/1;
  background-image: url(images/origbig.png);
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  width: 8000px;
  height: 100vh;
  padding: 0;
  margin: 0;
  animation: moveRight 15s linear infinite;
}

@keyframes moveRight {
  100%{transform:translateX(-876px)};
}

#ground {
  width: 100%;
  height: 70px;
  opacity: 0%;
  position: absolute;
  bottom: 0px;
}

#character {
  background-image: url(images/rabbit.png);
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 70px;
  right: calc(100% - 150px);
}

.obstacle {
  width: 50px;
  height: 50px;
  background-image: url(images/mushroom.png);
  position: absolute;
  bottom: 70px;
  right: 0;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}

#lifelines {
  background-image: url(images/heart.png);
  display: grid;
  margin-left: 94%;
  width: 38px;
  height: 38px;
}

body {
  display: grid;
}

.end {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url(images/bluesky.png);
  background-size: contain;
  visibility: hidden;
}

.textResultContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
  text-align: center;
}

.startOverButton {
  height: 55px;
  width: 300px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: none;
}

.startOverButton:hover {
  height: 60px;
  width: 320px;
  background-color: antiquewhite;
  cursor: pointer;
  color: black;
}

.goToStartButton {
  height: 55px;
  width: 300px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: none;
}

.goToStartButton:hover {
  height: 60px;
  width: 320px;
  background-color: antiquewhite;
  cursor: pointer;
  color: black;
}

.gameOverText {
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.resultText {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.endScore {
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
}

/* result and startgame */
.content {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.paragraph1 {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  text-align: center;
}

.paragraph2 {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  text-align: center;
}

.button1 {
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  padding: 1rem;
  margin: 3%;
  position: fixed;
  top: 50%;
  right: 40%;
  cursor: pointer;
}

.button1:hover {
  opacity: 75%;
}

.button2 {
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  padding: 1rem;
  margin: 3%;
  position: fixed;
  top: 50%;
  right: 40%;
  cursor: pointer;
}

.button2:hover {
  opacity: 75%;
}

.button3 {
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  padding: 1rem;
  margin: 3%;
  position: fixed;
  top: 50%;
  right: 0%;
  cursor: pointer;
}

.button3:hover {
  opacity: 75%;
}
