* {
  padding: 0;
  margin: 0;
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  grid-column: 1/1;
  grid-row: 1/1;
}

#background {
  grid-column: 1/1;
  grid-row: 1/1;
  background-image: url(images/origbig.png);
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  width: 8000px;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  animation: moveRight 15s linear infinite;
}

#ground {
  width: 100%;
  height: 70px;
  background-color: green;
  opacity: 0%;
  position: absolute;
  bottom: 0px;
}

#character {
  background-image: url(images/rabbit.png);
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 70px;
  right: calc(100% - 150px);
}

.obstacle {
  width: 50px;
  height: 50px;
  background-image: url(images/mushroom.png);
  position: absolute;
  bottom: 70px;
  right: 0;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}

#lifelines {
  background-image: url(images/heart.png);
  margin-top: auto;
  margin-left: 94%;
  width: 38px;
  height: 38px;
}

/* body,
html {
  background-image: url(images/origbig.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
} */

body {
  display: grid;
}

@keyframes moveRight {
  100%{transform:translateX(-1576px)};
}

/* result and startgame */
.content {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.paragraph1 {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  text-align: center;
}

.paragraph2 {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  text-align: center;
}

.button1 {
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  padding: 1rem;
  margin: 3%;
  position: fixed;
  top: 50%;
  right: 40%;
  cursor: pointer;
}

.button1:hover {
  opacity: 75%;
}

.button2 {
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  padding: 1rem;
  margin: 3%;
  position: fixed;
  top: 50%;
  right: 40%;
  cursor: pointer;
}

.button2:hover {
  opacity: 75%;
}

.button3 {
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  padding: 1rem;
  margin: 3%;
  position: fixed;
  top: 50%;
  right: 0%;
  cursor: pointer;
}

.button3:hover {
  opacity: 75%;
}
