* {
  padding: 0;
  margin: 0;
}

#game {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  position: absolute;
}

#ground {
  width: 100%;
  height: 70px;
  background-color: green;
  position: absolute;
  bottom: 0px;
}

#character {
  width: 20px;
  height: 55px;
  background-color: red;
  position: absolute;
  bottom: 70px;
  right: calc(100% - 100px);
}

.obstacle {
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  bottom: 70px;
  right: 0;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
}

body,
html {
  background-image: url();
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.content {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.paragraph1 {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  text-align: center;
}

.paragraph2 {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  text-align: center;
}

.button1 {
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  padding: 1rem;
  margin: 3%;
  position: fixed;
  top: 50%;
  right: 40%;
  cursor: pointer;
}

.button1:hover {
  opacity: 75%;
}

.button2 {
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  padding: 1rem;
  margin: 3%;
  position: fixed;
  top: 50%;
  right: 40%;
  cursor: pointer;
}

.button2:hover {
  opacity: 75%;
}

.button3 {
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 200px;
  padding: 1rem;
  margin: 3%;
  position: fixed;
  top: 50%;
  right: 0%;
  cursor: pointer;
}

.button3:hover {
  opacity: 75%;
}
