* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* #game {
  grid-column: 1/1;
  grid-row: 1/1;
  width: 100%;
  height: 100%;
  position: absolute;
} */

/* Parallax animation */
.background_layer {
  position: absolute;
  grid-column: 1/1;
  grid-row: 1/1;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  width: 8000px;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: -1;
}

#frame-1 {
  background-image: url(images/grassfront.png);
  animation: moveRight 11s linear infinite;
}

#frame-2 {
  background-image: url(images/tree2.png);
  animation: moveRight 12s linear infinite;
}

#frame-3 {
  background-image: url(images/tree1.png);
  animation: moveRight 14s linear infinite;
}

#frame-4 {
  background-image: url(images/bushes.png);
  animation: moveRight 14s linear infinite;
}

#frame-5 {
  background-image: url(images/grassback.png);
  animation: moveRight 14s linear infinite;
}

#frame-6 {
  background-image: url(images/mountains.png);
  animation: moveRight 15s linear infinite;
}

#frame-7 {
  background-image: url(images/clouds.png);
  animation: moveRight 16s linear infinite;
}

#frame-8 {
  background-image: url(images/bluesky.png);
  animation: moveRight 15s linear infinite;
}

@keyframes moveRight {
  100%{transform:translateX(-1876px)};
}

/* The game */
#ground {
  width: 100%;
  height: 70px;
  opacity: 0%;
  position: absolute;
  bottom: 0px;
}

#character {
  background-image: url(images/rabbit.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 70px;
  right: calc(100% - 150px);
  z-index: 1;
  visibility: visible;
}

#characterJump {
  background-image: url(images/rabbitjump.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 70px;
  right: calc(100% - 150px);
  z-index: 1;
  visibility: hidden;
}

.obstacle {
  background-image: url(images/mushroom.png);
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 70px;
  right: 0;
}

/* Scoreboard at the top of the screen */
#scoreboard {
  /* size: contain; */
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

.scoreCounter {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 10;
}

#lifelines {
  margin-left: 85%;
}

.life {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(images/heart.png);
  background-size: contain;
  margin-right: 5px;
}

body {
  display: grid;
}

.end {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url(images/bluesky.png);
  background-size: contain;
  visibility: hidden;
  z-index: 2;
}

.textResultContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
  text-align: center;
}

.startOverButton {
  height: 55px;
  width: 300px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: none;
}

.startOverButton:hover {
  height: 60px;
  width: 320px;
  background-color: antiquewhite;
  cursor: pointer;
  color: black;
}

.goToStartButton {
  height: 55px;
  width: 300px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: none;
}

.goToStartButton:hover {
  height: 60px;
  width: 320px;
  background-color: antiquewhite;
  cursor: pointer;
  color: black;
}

.gameOverText {
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.resultText {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.endScore {
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
}